{% extends "base.html" %}
{% block content %}
<head>
    <!-- <h1>{{ title }}</h1> -->

        <style>
            body {
                font-family: Arial, sans-serif !important;
            }
        </style>

    <link rel="stylesheet" href='https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css'>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>
<body> 
    <div style ="margin-top: 50px;" class ="ui container">
        <h1 class = "ui center aligned header">Book a session</h1>
        
        <form class ="ui form" action= "/add" method ="post">
            <div classs = "field">
                <p></p>
                <input type ="text" name ="title" placeholder ="Exercise..."><br> 
                <p></p>
                <input type ="text" name="author" placeholder ="Trainer Name..."><br>                 
            </div>
            <button class ="ui blue button" type ="submit">Add</button>

        </form>
    </div> 
</body>


{% for book in books %}
{% set book_ID = book[0] %}
<div class ="ui segment">

    <p class="ui big header"> {{book_ID}} - {{book [1]}} | {{book [2]}}</p>
    <p class = "ui big header"> {{book[1]}} </p>
    <p> {{book [2]}} </p>

    {% if book.complete %}
    <span class=" ui gray label">On loan</span>
    {% else %}
    <span class="ui green label"> Available </span>
    {% endif %}

    <a class="ui blue button" href='/update/{{ BookingID }}'>update</a>
    <a class ="ui red button" href="/delete/{{ BookingID }}" >Delete</a>

</div>
{% endfor %} 
{% endblock %}